/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* FUNDO GERAL */
body{
  display: flex;
  background: linear-gradient(to bottom, #121212, #000);
  color: white;
  height: 100vh;
}

/* SIDEBAR */
.sidebar{
  width: 230px;
  background: #000;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* LOGO */
.logo img{
  width: 130px;
}

/* MENU */
.sidebar nav{
  display: flex;
flex-direction: column;
gap: 18px;
}

.sidebar nav a{
  color: #b3b3b3;
  text-decoration: none;
  font-size: 15px;
}

.sidebar nav a:hover{
  color: #1DB954;
}

/* BOTÃO LOGIN */
.login{
  margin-top: auto;
  padding: 10px;
  background: #1DB954;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* CONTEÚDO PRINCIPAL */
.content{
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

/* TÍTULO */
.content h2{
  margin-bottom: 25px;
}

/* ===== AQUI É O SEGREDO (GRADE IGUAL SPOTIFY) ===== */
.musicas{
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

  gap: 22px;
}

/* CARD */
.card{
  background: #181818;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover{
  background: #282828;
  transform: scale(1.05);
}

/* IMAGEM QUADRADA */
.card img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* TEXTO */
.card h3{
  font-size: 14px;
  font-weight: normal;
}
